html, body {
	background-color: #ccfff5;
	color: #005580;
	font-family: 'Noto Serif KR';
	text-align: left;
	margin: 0;
	padding: 0;
	height: 100%;
	position: relative;
}

*, *:before, *:after {
	box-sizing: border-box;
   }

p {
	margin: 15px;
	padding: 0px 50px;
}

h1 {
	margin: 15px;
}

h2 {
	margin: 25px;
}

h3 {
	margin: 15px;
	text-align: center;
	padding: 10px 50px;
}

li {
	list-style-type: none;
}

hr {
	height: 1px;
	color: #005580;
	background-color: #005580;
	border: none;
	width: 30%;
	margin-top: 20px;
}

a {
	color: #005580;
	text-decoration: bold;
}

a:hover, a:active {
	color: #33cccc;
}

a.nav {
	padding: 0px 10px;
	text-decoration: none;
}

a.nav:hover, a.nav:active {
	color: #ccfff5;
}

a.mainlink {
	text-decoration: none;
}

a.mainlink:hover, a.mainlink:active {
	color: #003854;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-bottom: 15px;
	max-width: 600px;
	/* image styling */
	border: 5px solid #005580;
	border-radius: .7%;
	box-shadow: 0 0 3px #ddd;
}

img.heighter {
	max-width: 200px;
}

.header {
    position: center;
    padding: 10px;
    background-image: linear-gradient(to right, #99ffeb, #33cccc);
	overflow: auto;
}

.title {
	float: left;
}

.navbar {
    float: right;
    overflow: 0;
    padding: 30px;
	font-size: 18px;
	margin-top: 10px;
}

.container {
	min-height: 100vh; /* will cover the 100% of viewport */
	overflow: hidden;
	display: block;
	position: relative;
	padding-bottom: 100px; /* height of your footer */
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	outline: 1px solid #005580;
	text-align: center;
	padding: 10px;
	margin-top: 30px;
}